*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}

body{
background:white;
overflow-x:hidden;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 80px;
}

.logo{
font-weight:700;
font-size:24px;
}

.nav-links a{
margin:0 20px;
text-decoration:none;
color:black;
font-size:20px;
}

.icons{
display:flex;
gap:20px;
}

.icon{
width:30px;
height:30px;
border:2px solid black;
}


/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:100px;
position:relative;
}

.hero-text{
max-width:650px;
text-align:center;
}

.hero-text h1{
font-size:36px;
color:#FFFB64;
font-weight:700;
margin-bottom:20px;
}

.hero-text p{
font-style:italic;
font-size:20px;
margin-bottom:40px;
}

.buttons{
display:flex;
justify-content:center;
gap:30px;
}

button{
padding:20px 40px;
border:none;
border-radius:20px;
background:#FFFB64;
font-weight:500;
cursor:pointer;
}

/* IMAGE */

.hero-image img{
width:523px;
height:auto;
}

/* BACKGROUND SHAPES */

.shape{
position:absolute;
background:#9090DB;
z-index:-1;
}

/* Right big shape */
.shape1{
width:1084px;
height:1130px;
right:-300px;
top:0;
border-radius:60% 40% 50% 70%;
}

/* Top left shape */
.shape2{
width:521px;
height:507px;
left:-150px;
top:-100px;
border-radius:70% 40% 60% 30%;
}

/* Bottom left shape */
.shape3{
width:599px;
height:664px;
left:-200px;
bottom:-200px;
border-radius:50% 70% 40% 60%;
}
.hero{
display:flex;
align-items:center;
justify-content:center;
gap:80px;
padding:100px;
flex-wrap:wrap;
}